html { 
  padding: 0;
  margin: 0;
  background: #F8F8F8;
}

body {
  margin:0;
  padding:0;
}

.containerwelcome { 
  font-family: "Space Grotesk";
  width: 90vw; 
  height: 100vh;
  background: #F8F8F8;
  padding-left: 120px;
  overflow-x: auto;

  /* TO TEST, SHOULD BE DISPLAY FLEX IN FINAL VERSION */
  display: flex;

  max-height: 100vh;
  max-width: 100vw;
  border: none;
  /* padding: 0;  */
}

.containerwelcome .panel { 
  width: 45vw; 
  height: 100vh; 
  position: relative;
}

.head1 { 
  width: 595px;
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  padding-top: 120px;
  padding-bottom: 50px;
}

.welcomesubtitle { 
  width: 600px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 30px;
}

.contributors-head { 
  width: 595px;
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 15px; 
}

.contributors-sub { 
  width: 595px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 10px;
}

.translators1 { 
  width: 239px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.translators2 { 
  width: 239px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding-left: 250px;
  margin-top: -100px;
}

  /* ĐỐNG Ở BÊN PHẢI WELCOME  */
.onright { 
  padding-left: 200px;
}

.earth { 
  width: 240px;
  color: #5CA44B;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 107.5% */
  padding-top: 130px;
  padding-bottom: 20px;
}

.water { 
  width: 215px;
  color: #38A8CC;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 107.5% */   
  padding-bottom: 20px;
}

.human { 
  width: 215px;
  color: #E7A68A;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 118.75% */
  padding-bottom: 20px;
}

.fire { 
  width: 200px;
  color: #CA3636;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 107.5% */
  padding-left: 300px;
  padding-bottom: 20px;
  margin-top: -500px;
}

.wind { 
  width: 200px;
  color: #808080;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 107.5% */
  padding-left: 300px;
}

.nouns { 
  width: 300px;
  color: #000;
  font-family: "Space Grotesk";
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 62.5% */
  padding-bottom: 50px;
  padding-top: 30vh;
  padding-left: 120px;
}

.translation { 
  color: #000;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  padding-left: 120px;
}


.container >div { 
  width: 100vw; 
  height: 100vh;
  background-size: 100vw 100vh;
  background-position: right top; 
  position: relative; 
  display: none; 
  padding: 0px;
  margin: 0px;
}
